[Unit]
Description=Flask Web Application Server using Gunicorn
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/neged_site
Environment="PATH=/neged_site/venv/bin"
ExecStart=/bin/bash -c 'source /neged_site/venv/bin/activate; gunicorn -w 3 --bind 127.0.0.1:5000 wsgi:app'
Restart=always

[Install]
WantedBy=multi-user.target